* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #ffd6e8, #ffeef6);
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  max-width: 350px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.card h1 {
  margin-bottom: 10px;
}

.card p {
  font-size: 1.1em;
  margin: 15px 0;
}

.card img {
  width: 200px;
  margin: 15px 0;
}

.music {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  background: #ff5fa2;
  color: white;
  padding: 12px 22px;
  border-radius: 30px;
  font-weight: bold;
}

.firma {
  display: block;
  margin-top: 7px;
  font-size: 0.3em;
  opacity: 0.10;
  text-align: right;
  font-style: italic;
}
